@font-face {
  src:url('../fonts/FuturaLT.ttf');
  font-family: FuturaLT ;
}
@font-face {
  src:url('../fonts/FuturaLT-Bold.ttf');
  font-family: FuturaLT-Bold ;
}
.main{
  margin: 0 auto;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: FuturaLT;
  background: #f3f3f3;
  font-size: 14px;
}
p {
  letter-spacing: 0.4px;
}
a {
  text-decoration: none;
  color: $p-color;
  padding: 1.5em 0;
  letter-spacing: 0.4px;
}
.content {
  margin-left: 7%;
  margin-right: 7%;
  height: auto;
}
.content-about {
  margin-left: 7%;
  margin-right: 3%;
  height : auto;
}
.container {
  display: flex;
  padding-bottom: 80px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.container-made {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2%;
}
.container-tac {
  display: flex;
}

li img {
  border-radius: 50%;
  max-width: 20%;
  margin-left: 0;
  display: inline-block;
  float: left;
}

.fa-facebook-f:hover{
  color: #3046b7;
}
.fa-twitter:hover{
  color: #00a2f1;
}
.fa-youtube:hover{
  color: #cb092c;
}
.fa-linkedin-in:hover{
  color: #170d83;
}
.fa-google-plus-g:hover{
  color: #cb092c;
}
.fa-behance:hover{
  color: #3046b7;
}
.fa-volleyball-ball:hover{
  color: #e36309;
}
.fa-search{
  color: #ffcb0f;
}

//Responsive
@mixin mediaSm {
  @media screen and (max-width: 575px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (max-width: 992px) and (min-width: 576px) {
    @content;
  }
}

@mixin mediaNormal {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1200px) {
    @content;
  }
}


.navigation.open {
  z-index: 10;
  background-color: rgb(34, 37, 51);
  opacity: 0.9;
  width: 150px;
  margin-top: 40px ;
  right: 10%;
  height: auto;
  position: absolute;
  transition: transform 0.3s ease;
  display: block;
  transform: translate(0px, 70px);
  -webkit-transform: translate(0, 0);

  a {
    max-width: 100px;
    text-decoration: none;
    list-style: none;
    margin-bottom: 1%;

    &:hover {
      color: $primary-color;
    }
  }
}
