.button {
  @include style-button;
  background-color: $primary-color;
  font-family: FuturaLT;
  padding: 0.8em 1.5em;
  font-size: 14px;
}
.button-left {
  font-family: FuturaLT-Bold;
}
.button-right {
  margin-left: 8%;
  font-family: FuturaLT-Bold;
}
.contact-input button {
  @include style-button;
  background-color: rgb(47, 50, 64);
  width: 20%;
  height: 45px;
  margin-left: 5px;
  font-family: FuturaLT;


  &:hover {
    background-color: firebrick;
    cursor:pointer;
    @include easeOut;
  }
}
button:hover {
  background-color: #f2f2f2;
  color: $primary-color;
  cursor:pointer;
  @include easeOut;
}