.about-com {
  @include style-base-layout;
  display: block;
}
.company {
  padding: 0;
}
.text-left {
  width: 55%;
  text-align: left;
  display: inline-block;
  padding-bottom: 30px;

  h2 {
    font-size: 30px;
    font-family: FuturaLT-Bold;
    margin: 0 auto;
    padding-top: 70px;
    color: $primary-color;
  }

  h3 {
    @extend .title-text;
    font-size: 22px;
  }

  p {
    @extend .paragraph;
    margin-right: 3px;
  }
}

.bg-right {
  width: 45%;
  display: inline-block;
  background-image: url("../images/Layer 2.png");
  background-repeat: no-repeat;
  background-position: 15%;
  float: right;

  img {
    margin-left: 30%;
    max-height: 422px;
  }
}