.about-com {
  @include style-base-layout;
  display: block;
}
.company {
  padding: 0;
}
.text-left {
  width: 60%;
  text-align: left;
  display: inline-block;
  padding: 2% 0% 10% 0% ;

  h2 {
    font-size: 30px;
    font-family: FuturaLT-Bold;
    margin: 0 auto;
    padding-top: 8%;
    color: $primary-color;
  }

  h3 {
    font-weight: 400;
    padding-bottom: 1%;
    @extend .title-text ;
    font-size: 22px;
  }

  p {
    @extend .paragraph;
    margin-right: 3px;
  }
}

.bg-right {
  width: 40%;
  display: inline-block;
  background-image: url("../images/Layer 2.png");
  background-repeat: no-repeat;
  background-position: 15%;
  float: right;

  img {
    margin-left: 25%;
    max-height: 422px;
  }
}