.our-service {
  @include style-base-layout;
  background-color: #fafff8;
  display: block;
}
.our-service h2 {
  padding-top: 60px;
  text-align: center;
  @extend .title-text;
}
.item-3 {
  flex-basis: 33%;
  padding-top: 40px;

  img {
    width: 90%;
    margin: 0% 5% 0% 5%;
    height: 45%;
  }

  h4 {
    margin-left: 5%;
    font-size: 15px;
    font-family: FuturaLT-Bold;
    color: #222222;
  }

  p {
    font-size: 14px;
    color: #222222;
    float: left;
    margin: 0 auto;
    padding: 0% 5% 2% 5%;
  }
}
.know {
  padding-bottom: 0;

  .button {
    margin-left: 5%;
    margin-top: 20px;
  }
}
