.review {
  @include style-base-layout;
  display: block;
  background-image: url("../images/Layer 17.png");
  background-repeat: no-repeat;
  background-size: cover;

  &.item-3{
    padding-bottom: 0 ;
  }
}
.review-left {
  height: 250px;
  margin: 20% 4% 0% 4%;
  border-radius: 3.5%;
  background-color: $gray-color;
  z-index : 0;

  p {
    font-size: 14px;
    text-align: left;
    margin: 0% 5% 13% 20%;
  }

  img {
    float:left;
    margin-left: 5px;
    max-width: 50px;
    max-height: 30px;
  }
}
.review-center {
  height: 310px;
  margin: 8% 3% 0% 3%;
  border-radius: 3.5%;
  background-color: $primary-color;
  z-index: 1;

  p {
    font-size: 14px;
    text-align: left;
    margin: 2% 5% 13% 20%;
    color: $white-color;
  }

  img {
    float:left;
    margin-left: 5px;
    max-width: 50px;
    max-height: 30px;
  }
}
.icon-img {
  width: 30%;
  margin: 10% auto;
  text-align: center;

  h5 {
    margin: 0 auto;
  }
}

.box-review {
  margin: 0 auto;
  border-top: 15px solid $primary-color;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  width: 0; height:0;
}
.box-center {
  @extend .box-review;
}
.box-left {
  @extend .box-review;
  border-top: 15px solid #e5e5e5;
}
.box-right {
  float: left;
  display: inline-block;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #e5e5e5;
  width: 0;
  height: 2px;
  margin: 1.5% 1% 0% 0%;
}