.review {
  @include style-base-layout;
  display: block;
  background-image: url("../images/Layer 17.png");
  background-repeat: no-repeat;
  background-size: cover;

  &.item-3{
    padding-bottom: 0 ;
  }
}
.review-left {
  height: 230px;
  margin: 30px 4% 0 4%;
  border-radius: 7.5%;
  background-color: $gray-color;
  z-index : 0;

  p {
    font-size: 14px;
    text-align: left;
    margin-top: 40px;
    width: 75%;
    letter-spacing: 0.4px;
    padding: 0;
    display: inline-block;
  }

  img {
    float: left;
    margin: 20px 0 0 5px;
    max-width: 53px;
    max-height: 40px;
  }
}
.review-center {
  height: 300px;
  margin: 0 3%;
  border-radius: 7.5%;
  background-color: $primary-color;
  z-index: 1;

  p {
    font-size: 14px;
    text-align: left;
   margin-top: 55px;
    width: 75%;
    padding: 0;
    letter-spacing: 0.4px;
    display: inline-block;
    color: $white-color;
  }

  img {
    float: left;
    margin: 35px 0 0 5px;
    max-width: 53px;
    max-height: 37px;
  }
}
.icon-img {
  width: 90px;
  margin: 10% auto;
  text-align: center;

  figure:hover img {
    transform: scale(1.2);
    transition: transform 0.5s ease;
    cursor: pointer;
  }

  h5 {
    margin: 0 auto;
    font-size: 14px;
    padding-top: 5px;
    width: 95px;
    font-family: FuturaLT-Bold;
  }
}

.box-review {
  margin: 0 auto;
  border-top: 15px solid $primary-color;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  width: 0; height:0;
}
.box-center {
  @extend .box-review;
}
.box-left {
  @extend .box-review;
  border-top: 15px solid #e5e5e5;
}
