.Why-chose-us{
  @include style-base-layout;
  background-color: #f2f7fa;
  display: block;
}
.text-center {
  text-align: center;
  padding: 5% 0% 0% 0%;

  h2 {
    @extend .title-text ;
  }

  p {
    @extend .paragraph;
  }
}

.item-4 {
  flex-basis: 25%;
  margin: 2% 0 0;

  h4 {
    font-size: 15px;
    font-family: FuturaLT-Bold;
    color: $p-color;
    text-align: center;
  }

  h6 {
    font-size: 12px;
    color: $white-color;
    margin: 2px 0px;
  }

  p {
    margin: 0 5%;
    text-align: center;
  }

  a {
    color: $gray-color;
    padding-bottom: 1.5em;
  }
}

.bo-1 {
  width: 160px;
  height: 160px;
  background: #ffea9f;
  border-radius: 90px;
  margin: 0 auto;
}
.bo-2 {
  width: 140px;
  height: 140px;
  position: absolute;
  margin: 10px 10px;
  background: #fadb64;
  border-radius: 80px;
}
.bo-3 {
  width: 120px;
  height: 120px;
  position: absolute;
  margin: 10px 10px;
  background: #ffcb0f;
  border-radius: 80px;
}
.bo-4 {
  width: 100px;
  height: 100px;
  position: absolute;
  margin: 10px 10px;
  background: #ffffff;
  border-radius: 80px;

  img {
    margin-top: 30px;
    margin-left: 30px;
    width: 40px;
    height: 40px;
  }
}


