.text-header-banner {
  font-size: 48px;
  margin: 0 auto;
  font-family: FuturaLT-Bold;
}
.title-text  {
  margin: 0 auto;
  font-size: 24px;
  font-family: FuturaLT-Bold;
  color: $p-color;
}
.paragraph {
  font-size: 14px ;
  color: $p-color;
  letter-spacing: 0.4px;
}